<%= render 'navbar', locals: {departments: @departments}%>
<h1>Departments</h1>
<%= link_to 'New Department', new_department_path %>
<br>
<% @departments.each do |department| %>
  <%= department.name %>
  <li><%= link_to 'Delete', department_items_path(department), {method: :destroy, class: 'btn red'} %></li>
<% end %>
